DATABASE_URL="postgres://postgres:postgres@localhost:4203/open_ggdashboard"

# bunx auth@latest secret 
BETTER_AUTH_SECRET="your-secret-here"
BETTER_AUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
